@font-face {
  font-family: "PL";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ML";
  src: url("../assets/fonts/Metric-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MR";
  src: url("../assets/fonts/Metric-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Headache";
  src: url("../assets/fonts/Headache.otf") format("opentype");
}

@font-face {
  font-family: "Protomolecule";
  src: url("../assets/fonts/Protomolecule-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProtomoleculeL";
  src: url("../assets/fonts/Protomolecule-Light.ttf") format("truetype");
}
